*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/* IMPORT DA FONTE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* IMPORT DA FONTE */

:root{
  --fonte: 'Bebas Neue', cursive;
}

.imagem{
  background-image: url('imagens/netflix-ori.jpg');
  width: 100vw;
  height: 100vh;
}
.logo{
  position: absolute;
  top: 4%;
  left: 3%;
  font-size: 2em;
}
.aNetflix{
  text-decoration: none;
  color: red;
}


.login{
  position: absolute;
  width: 28.1em;
  height: 37.25em;
  background-color: #fff;
  bottom: 10%;
  left: 35%;
  top: 11%;
}

/* FORMULÁRIO NETFLIX */
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
/* TÍTULO ENTRAR */
.entrar{
  font: 32px bold Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 14%;
  margin-left: 15%;
}
input[type="text"], input[type="password"]{
  width: 314px;
  height: 50px;
  border-radius: 3.2px;
  margin-top: 5.2%;
  
  
}
input[type="button"]{
  width: 314px;
  height: 48px;
  margin: 5% 0 5% 0;
  
}
/* EMBAIXO DE BOTÃO */
.ajuda{
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 15.2%;
  
}
input[type="checkbox"]{
  margin-right: 1%;
}
label{
  margin-right: 17%;
}
.ajuda > p > a{
  text-decoration: none;
}